name: CI

on:
  push:
    branches:
      - main
  merge_group:
  pull_request:
    types:
      - opened
      - synchronize

env:
  BAZEL_STARTUP_FLAGS: --bazelrc=${{ github.workspace }}/.github/github.bazelrc

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm
          - os: windows-2022
    steps:
      # Checkout the code
      - uses: actions/checkout@v4

      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Setup Bazelrc (Windows)
        run: |
          echo "TEMP=$env:RUNNER_TEMP" >> "$env:GITHUB_ENV"
          echo "TMP=$env:RUNNER_TEMP" >> "$env:GITHUB_ENV"
          echo "startup --output_user_root=D:/bzl" > ./user.bazelrc
        if: startswith(runner.os, 'Windows')
      - name: Setup Bazelrc
        run: |
          echo "common --keep_going" >> ./user.bazelrc

      # Build and Test the code
      - name: Test (Unix)
        run: bazel ${BAZEL_STARTUP_FLAGS[@]} test //...
        if: startswith(runner.os, 'Windows') != true
      - name: Test (Windows)
        run: bazel $env:BAZEL_STARTUP_FLAGS test //...
        if: startswith(runner.os, 'Windows')

  ci-aspects:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm
          - os: windows-2022
    steps:
      # Checkout the code
      - uses: actions/checkout@v4

      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Setup Bazelrc (Windows)
        run: |
          echo "TEMP=$env:RUNNER_TEMP" >> "$env:GITHUB_ENV"
          echo "TMP=$env:RUNNER_TEMP" >> "$env:GITHUB_ENV"
          echo "startup --output_user_root=D:/bzl" > ./user.bazelrc
        if: startswith(runner.os, 'Windows')
      - name: Setup Bazelrc
        run: |
          echo "common --keep_going" >> ./user.bazelrc
          echo "common --config=strict" >> ./user.bazelrc

      # Build and Test the code
      - name: Test (Unix)
        run: bazel ${BAZEL_STARTUP_FLAGS[@]} test //...
        if: startswith(runner.os, 'Windows') != true
      - name: Test (Windows)
        run: bazel $env:BAZEL_STARTUP_FLAGS test //...
        if: startswith(runner.os, 'Windows')

  ci-coverage:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm
          # TODO: https://github.com/bazelbuild/bazel/issues/26649
          # - os: windows-2022
    steps:
      # Checkout the code
      - uses: actions/checkout@v4

      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Setup Bazelrc (Windows)
        run: |
          echo "TEMP=$env:RUNNER_TEMP" >> "$env:GITHUB_ENV"
          echo "TMP=$env:RUNNER_TEMP" >> "$env:GITHUB_ENV"
          echo "startup --output_user_root=D:/bzl" > ./user.bazelrc
        if: startswith(runner.os, 'Windows')
      - name: Setup Bazelrc
        run: |
          echo "common --keep_going" >> ./user.bazelrc

      # Build and Test the code
      - name: Coverage (Unix)
        run: bazel ${BAZEL_STARTUP_FLAGS[@]} coverage //...
        if: startswith(runner.os, 'Windows') != true
      - name: Coverage (Windows)
        run: bazel $env:BAZEL_STARTUP_FLAGS coverage //...
        if: startswith(runner.os, 'Windows')

      - name: Check Coverage
        run: python3 tools/coverage/coverage_checker.py

  ci-bazel-run:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm
          - os: windows-2022
    steps:
      - uses: actions/checkout@v4
      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Test (Unix)
        if: startswith(runner.os, 'Windows') != true
        run: |
          bazel ${BAZEL_STARTUP_FLAGS} run //python/venv/private/tests/bazel_free:greeter -- world --output=$(pwd)/data.txt

          if [[ "$(cat data.txt)" != "Hello, world"* ]]; then
            cat data.txt
            exit 1
          fi
      - name: Test (Windows)
        if: startswith(runner.os, 'Windows')
        run: |
          # Run the command and redirect output to data.txt
          & bazel $BAZEL_STARTUP_FLAGS run //python/venv/private/tests/bazel_free:greeter "--" world --output=$(pwd)/data.txt

          # Check if the contents of data.txt start with "Hello, world."
          if ((Get-Content data.txt) -notmatch "^Hello, world.*") {
              Get-Content data.txt
              exit 1
          }

  ci-fixers:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-24.04
          - os: ubuntu-24.04-arm
          - os: windows-2022
    steps:
      # Checkout the code
      - uses: actions/checkout@v4
      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Format (unix)
        run: |
          bazel ${BAZEL_STARTUP_FLAGS[@]} run //python/black
          bazel ${BAZEL_STARTUP_FLAGS[@]} run //python/isort
          bazel ${BAZEL_STARTUP_FLAGS[@]} run //python/global_venv
        if: startswith(runner.os, 'Windows') != true
      - name: Format (Windows)
        run: |
          bazel $env:BAZEL_STARTUP_FLAGS run //python/black
          bazel $env:BAZEL_STARTUP_FLAGS run //python/isort
          # TODO: https://github.com/periareon/rules_venv/issues/57
          # bazel $env:BAZEL_STARTUP_FLAGS run //python/global_venv
        if: startswith(runner.os, 'Windows')

      - name: Git diff
        shell: bash
        run: |
          git diff
          if [[ -n "$(git status --porcelain)" ]]; then
            exit 1
          fi

  ci-format:
    runs-on: ubuntu-24.04
    steps:
      # Checkout the code
      - uses: actions/checkout@v4
      - uses: bazel-contrib/setup-bazel@0.14.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - uses: DoozyX/clang-format-lint-action@v0.14
        with:
          source: "."
          extensions: "h,c,cc"
          clangFormatVersion: 14

      - name: Format (unix)
        run: |
          bazel ${BAZEL_STARTUP_FLAGS[@]} run //:buildifier_check

      - name: Git diff
        shell: bash
        run: |
          git diff
          if [[ -n "$(git status --porcelain)" ]]; then
            exit 1
          fi
